<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- v-xxxx 指令 -->
        姓<input type="text" v-model="xing">
        名<input type="text" v-model="ming">
        <h1>{{fullName}} -- {{getFulName()}}</h1>
        <h1 v-text="fullName"></h1>
        <button @click="addX">增加x</button>
        <button @click="changeXing">改变姓为 李</button>
        <h1>x = {{x}}</h1>
    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.js"></script> 
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                xing: "",
                ming: "",
                x: 1,
                // 省、市、区、详细地址
            },
            methods: {
                getFulName() {
                    console.log('调用了 getFulName 函数');
                    return this.xing + this.ming;
                },
                addX() {
                    this.x ++;
                },
                changeXing() {
                    this.xing = "李"
                }
            },
            computed: {
                fullName() {
                    console.log('调用了fullName');
                    return this.xing + this.ming;
                },
                // fullName2: {
                //     get() {},
                //     set(val) {},
                // }
            }
        });
    </script>
</body>
</html>